// Bar Top

.component__nav {
  // this is a fix for the sticky header to stay centered when .scale view is on
  // it's really not even needed, it's only for desktop view
  // this is for if we have the scale option in mobile, rn we don't
  display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-direction: column-reverse;
}

.component__nav nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 50px;
  min-width: 270px;
  width: 270px;
  justify-self: center;
}

.component__nav nav a {
  justify-self: center;
  align-self: center;
}