<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel="icon" type="image/png" href="/views/assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/views/assets/css/style.min.css"/>
</head>

<body class="gray3 border0">

    <main class="mui-container-fluid">

        <!-- Navigation -->
        <nav>
            <br>
            <span><strong>Menu :</strong></span>
            <a href="/">Home</a> | <a href="/users/add">Add New User</a> | <a href="/users">User List</a>
            <p>_____</p>
        </nav>

        <div data-aos="fade-right" data-aos-offset="200" data-aos-delay="5" data-aos-duration="100" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
            <h1><%= title %></h1>