<%- include('templates/header') %>

    <div class="component__welcome">

        <p>A starter app with a snappy UI.</p>

        <p>Test drive the demo app featuring a simple database manager using a CRUD API to a remote MySQL database
            server.</p>

    </div>

    <%- include('templates/footer') %>