<%- include('templates/header') %>

    <div class="component__welcome">

        <p>A SQL database manager with a snappy UI.</p>

        <p>Test drive the demo app with a CRUD API to a remote MySQL database server.</p>

        <p>Try it yourself, add, edit or delete an user.</p>

    </div>

    <%- include('templates/footer') %>