// Colors

$white1: #fff;

$gray1: #f2f2f2;
$gray2: #989898;
$gray3: #4e4e4e;

$black1: #000;

$blue1: #2196f3;
$blue1-transparent: rgba(33, 150, 243, 0.02);
$red1: #f2413a;
$red1-transparent: rgba(242, 65, 58, 0.02);