<div class="component__button--connect">

    <form action="/database" method="post">

        <button type="submit">

            <p>
                <i class="<%= status %> gg-shape-circle"></i>
            </p>

        </button>

    </form>

</div>