<div class="component__button--connect">

    <form action="/database" method="post">

        <button type="submit">

            <span><i class="<%= status %> gg-shape-circle"></i></span>

        </button>

    </form>

</div>