<div section class="component__button--submit">
    <button type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')">
        <i class="gg-remove"></i>
    </button>
</div>