body {
    display: grid;
    background: #f5f5f5;
    margin: 40px 0;

    // res https://www.transparenttextures.com/
    background-color: #cccccc;
    background-image: url("https://www.transparenttextures.com/patterns/office.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

    background-color: #cccccc;
background-image: url("https://www.transparenttextures.com/patterns/rubber-grip.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

//     background-color: #cccccc;
// background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

// background-color: #cccccc;
// background-image: url("https://www.transparenttextures.com/patterns/tactile-noise-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

// background-color: #cccccc;
// background-image: url("https://www.transparenttextures.com/patterns/use-your-illusion.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.wrapper {
    max-width: 960px;
    min-width: 270px;
    width: 270px;
    justify-self: center;
    align-self: center;
    background: #fff;
    border: 1px solid $blue1;
    border: 1px solid $gray2;
    border-radius: 10px;
    padding: 15px;

    // res https://cssbud.com/css-generator/css-glow-generator/
    -webkit-box-shadow:0px 0px 15px 0 rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.20);
    box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.20);

    transition: 0.1s ease;
}

.wrapper.scale {
    width: 960px;
    transition: 0.1s ease;
  }

.wrapper .table__row {
    overflow-x: scroll;
}

.wrapper .table__row table {
    display: grid;
}

// this is hacky, using overflow here, figure out why those scrollbars are showing up and fix this on the user list page
.user-details {
    overflow: hidden;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.basic-details {
    cursor: pointer;
}

.more-details {
    visibility: hidden;
    height: 0;
    transition: 0.1s ease;
}

.show {
    visibility: visible;
    height: 41px;
    transition: 0.1s ease;
}

.view-sizes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100px;
    margin: 0 auto;
}

.view-sizes p {
    justify-self: center;
    align-self: center;
}

.view-sizes.hide {
    display: none;
}