body {
    display: grid;
}

.wrapper {
    max-width: 320px;
    width: 320px;
    justify-self: center;
    align-self: center;
    background: #fff;
}

.wrapper .table__row {
    overflow-x: scroll;
}