body {
    display: grid;
    background: #f5f5f5;
}

.wrapper {
    max-width: 320px;
    width: 320px;
    justify-self: center;
    align-self: center;
    background: #fff;
    // padding: 15px;
}

// nav {
//     padding: 15px;
// }

// .wrapper > div {
//     padding: 15px;
// }

.wrapper .table__row {
    overflow-x: scroll;
}