<nav class="component__nav--scaleview">
    <!-- <p><i class="gg-smartphone"></i></p> -->
    <p><i class="gg-screen"></i></p>
    <i class="gg-shape-circle .icon__circle_database--connected"></i>
</nav>