<nav class="component__nav component__nav--sticky">
    <a href="/">
        <i class="gg-home-alt"></i>
    </a>
    <a href="/users"><i class="gg-list"></i></a>
    <a href="/users/add"><i class="gg-add"></i></a>
</nav>