</div>
</main>
</section>

<!-- Bar Bottom -->
<section class="section__bar--bottom">

    <footer class="component__footer">

        <%- include('../templates/component__nav--scaleview') %>

    </footer>
</section>
</div>

<%- include('../templates/component__footer--outside') %>

    <!-- End App -->
    <script src="/assets/js/app0x.js"></script>
    <script src="/assets/js/aos.min.js"></script>
    <script>
        AOS.init();
    </script>
    </body>

    </html>