// Table

.table__row td, .table__row th {
  padding: 0.6em 0.4em;
}

.form__table input[type='submit'] {
  color: $red1;
  border: 1px solid $red1;
}

div.table__row > table tbody.user-details > tr:nth-child(even) {
  background-color: $gray1;
  background-color: $white1;
}

body > main > div > div > table > tbody > tr {
  display: grid;
  grid-auto-flow: column;
}

body > main > div > div > table > tbody > tr > td {
  justify-self: center;
    align-self: center;
}

tbody.user-details:nth-child(even) > tr.basic-details {
  background-color: $gray1;
}