// Footer

.component__footer p {
  font-size: 0.7rem;
  text-align: center;
}

.component__footer p a {
  color: $gray2;
}

.component__footer--outside {
  max-width: 960px;
  min-width: 270px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 0.7em;
}

.component__footer--outside a {
  color: $gray1;
}