// Scrollbar

// res https://codepen.io/stephenpaton-tech/full/JjRvGmY
/* Firefox */
* {
  scrollbar-width: 10px;
  scrollbar-color: $blue1 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 9px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: $blue1;
  border-radius: 10px;
  border: 3px solid #ffffff;
}