        </div>
        <footer>
        <p>_____</p>
        <p class="fonts1"><a href="//github.com/0100000101010011" target="_blank">0100000101010011</a></p>
        <!-- <p class="fonts1"><span class="gray2">v0.0.11</span></p> -->
        </footer>
    </main>
    </div>
    <!-- class="mui-container-fluid -->
    <script src="/views/assets/js/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="/views/assets/js/inputFocusHighlight.js"></script>
</body>

</html>