// State

.fixed {
  position: fixed;
  width: 270px;
  background: #fff;
  top: 0;
  z-index: 1;
}

.show {
  visibility: visible;
  height: 41px;
  transition: 0.1s ease;
}

.hide {
  display: none;
}

.scale {
  width: 960px;
  transition: 0.1s ease;
}