// State

.sticky {
  position: fixed;
  width: 270px;
  background: #fff;
  top: 0;
  z-index: 1;
}

.show {
  visibility: visible;
  height: 41px;
  transition: 0.1s ease;
}

.hide {
  display: none;
}

.scale {
  width: 960px;
  transition: 0.1s ease;
}

// refer to scaleview, the desktop icon is explode view, the phone icon is compact view
.explode {

}

.compact {

}

// server is on
.on {
  color: $green1;
}

// server is off
.off {
  color: -internal-light-dark(black, white);
  color: $gray2;
}