// Colors

$white1: #fff;

$gray1: #f2f2f2;
$gray2: #989898;
$gray3: #4e4e4e;

$black1: #000;

$blue1: #2196f3;
$blue1-transparent: rgba(33, 150, 243, 0.02);
$red1: #f2413a;
$red1-transparent: rgba(242, 65, 58, 0.02);

// Base

// res https://www.w3schools.com/howto/howto_css_force_scrollbars.asp
body {
  color: $gray3;
  outline: none;
  font-family: 'Courier New', 'Courier', monospace;
  font-size: 14px;
  // show scrollbars, a little hack because you'll notice a jerk movement of the view when the scrollbars appear and disappear between switching pages/views, it's the scrollbars appearing and disappearing causing that jerkiness
  overflow: scroll;
  display: grid;
  background: #f5f5f5;
  margin: 40px 0;
  background-color: #cccccc;
  background-image: url("https://www.transparenttextures.com/patterns/rubber-grip.png");
}

p,
td {
  letter-spacing: 0.1em;
  font-family: Arial, Verdana, Tahoma;
}

// res https://stackoverflow.com/questions/25704650/disable-blue-highlight-when-touch-press-object-with-cursorpointer
a {
  text-decoration: none;
  color: $blue1;
  // disable blue highlight
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  text-align: center;
}

button {
  border: none;
  background: none;
}

input {
  color: $gray3;
  outline: none;
  border: 1px solid $gray2;
  border-radius: 2px;
  caret-color: $blue1;
  transition: 0.1s ease;
  padding: 2px 3px;
  background: none;
  letter-spacing: 0.1em;
}

input:focus,
input:hover {
  border: 1px solid $blue1;
  background: $blue1-transparent;
  transition: 0.1s ease;
}

input[type='submit'] {
  color: $blue1;
}

input[type='submit']:focus,
input[type='submit']:hover {
  color: $blue1;
  border: 1px solid $blue1;
}