// Colors

$white1: #fff;

$gray1: #f2f2f2;
$gray2: #989898;
$gray3: #4e4e4e;

$black1: #000;

$blue1: #2196f3;
$blue1-transparent: rgba(33, 150, 243, 0.02);
$red1: #f2413a;
$red1-transparent: rgba(242, 65, 58, 0.02);

// Base

// res https://www.w3schools.com/howto/howto_css_force_scrollbars.asp
body {
  color: $gray3;
  outline: none;
  border-collapse: collapse;
  font-family: "Courier New", "Courier", monospace;
  font-size: 14px;
  overflow: scroll; /* Show scrollbars */
}

footer p {
    font-size: 0.7rem;
    text-align: center;
}

footer p a {
  color: $gray2;
}

p, td {
  letter-spacing: .1em;
  font-family: Arial, Verdana, Tahoma;
}

// res https://stackoverflow.com/questions/25704650/disable-blue-highlight-when-touch-press-object-with-cursorpointer
a {
  text-decoration: none;
  color: $blue1;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

// remove the focus from all link elements, brought in by another stylesheet
a:focus {
  outline: none;
}

nav a {
  font-weight: 700;
  font-family: "Courier New", "Courier", monospace;
  // color: #fff;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  text-align: center;
}

button {
  border: none;
  background: none;
}

input {
  color: $gray3;
  outline: none;
  border-collapse: collapse;
  border: 1px solid $gray2;
  border-radius: 2px;
  caret-color: $blue1;
  transition: 0.1s ease;
  padding: 2px 3px;
  background: none;
  letter-spacing: .1em;
}

input:focus,
input:hover {
  border: 1px solid $blue1;
  background: $blue1-transparent;
  transition: 0.1s ease;
}

input[type='submit'] {
  color: $blue1;
  border: 1px solid $gray2;
  border-radius: 2px;
  padding: 2px 3px;
}

input[type='submit']:focus,
input[type='submit']:hover {
  color: $blue1;
  border: 1px solid $blue1;
}

table {
  outline: none;
  border-collapse: collapse;
}

/* ===== Scrollbar CSS ===== */
// res https://codepen.io/stephenpaton-tech/full/JjRvGmY
  /* Firefox */
  * {
    scrollbar-width: 10px;
    scrollbar-color: $blue1 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    height: 9px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $blue1;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }