</div>
<footer>
    <p>_____</p>
    <p><a href="//github.com/0100000101010011" target="_blank">0100000101010011</a></p>
</footer>
</main>
</div>
<!-- end class="mui-container-fluid -->
<script src="/views/assets/js/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="/views/assets/js/inputFocusHighlight.js"></script>
</body>

</html>