</div>
<footer>
    <p><a href="//github.com/0100000101010011" target="_blank">0100000101010011</a></p>
    <div class="view-sizes">
        <p><i class="gg-smartphone"></i></p>
        <p><i class="gg-screen"></i></p>
    </div>
</footer>
</main>
</div>
<!-- end class="mui-container-fluid -->
<script src="/views/assets/js/table-row-reveal.js"></script>
<script src="/views/assets/js/aos.min.js"></script>
<script>
    AOS.init();
</script>
</body>

</html>