<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel="icon" type="image/png" href="/views/assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/views/assets/css/_bundled/style.min.css" />
</head>

<body>

    <!-- Start Wrapper -->
    <div class="wrapper">

        <!-- Navigation -->
        <section class="component__nav">

            <nav>
                <div><a href="/"><i class="gg-home-alt"></i></a></div>
                <div><a href="/users/add"><i class="gg-add"></i></a></div>
                <div><a href="/users"><i class="gg-list"></i></a></div>
            </nav>

        </section>

        <!-- Main -->
        <section class="component__main">

            <main>

                <div data-aos="fade-right" data-aos-offset="200" data-aos-delay="5" data-aos-duration="100"
                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
                    data-aos-anchor-placement="top-center">

                    <h1>
                        <%= title %>
                    </h1>