// styles for connect(ed) database button
  .component__button--connect form {
    display: grid;
  }
  
  .component__button--connect form button {
    display: grid;
    cursor: pointer;
  }
  
  .component__button--connect form button p {
    justify-self: center;
  }
  
  .gg-shape-circle {  
    width: 10px;
    height: 10px;
    border: 2px solid;
  }