<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/css/_bundled/style.min.css" />
</head>

<body>

    <!-- Start App -->
    <div class="app">

        <!-- Bar Top -->
        <section class="section__bar--top">

            <%- include('../../templates/component/nav/3-across') %>

        </section>