<!-- Bar Bottom -->
<section class="section__bar--bottom">

    <footer class="component__footer">

        <%- include('../../templates/component/nav/scaleview') %>

            <%- include('../../templates/component/button/connect') %>

    </footer>

</section>

</div>

<%- include('../../templates/component/footer/outer') %>

    <!-- End App -->
    <script src="/assets/js/app0x.js"></script>
    <script src="/assets/js/aos.min.js"></script>
    <script>
        AOS.init();
    </script>

    </body>

    </html>