<!-- Main -->
<section class="section__main">

    <main class="component__main">

        <h1>
            <%= title %>
        </h1>

        <div data-aos="fade-right" data-aos-offset="200" data-aos-delay="5" data-aos-duration="100"
            data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
            data-aos-anchor-placement="top-center">