<div class="component__nav">

    <nav>
        <a href="/">
            <span><i class="gg-home-alt"></i></span>
        </a>
        <a href="/users"><span><i class="gg-list"></i></span></a>
        <a href="/users/add"><span><i class="gg-add"></i></span></a>
    </nav>

</div>