//transitions
.transition1 {transition: .10s ease;};
.transition2 {transition: .20s ease;};

//forms

//input wrappers
//place in a div wrapping your target input tags

//blue input fields and submit button
.inputfx1b {
    position: relative;
    width: min-content;
}

.inputfx1b:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 110%;
    height: 140%;
    border: 1px solid rgba(33, 150, 243, 0);
    transition: .075s ease;
}

td:focus-within > .inputfx1b:before {
    visibility: hidden;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(33, 150, 243, .4);
}

//red submit buttons
//only difference is :hover vs :focus-within
//and z-index initial

.inputfx1r {
    position: relative;
    width: min-content;
}

.inputfx1r:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: initial;
    width: 110%;
    height: 140%;
    border: 1px solid rgba(242, 65, 58, 0);
    transition: .075s ease;
}

td:hover .inputfx1r:before {
    visibility: hidden;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(242, 65, 58, .4);
}
