//remove the focus from all link elements, brought in by another stylesheet
a:focus {outline: none;}

//padding

.padding1 {padding: 2px 3px;}

//width

.width1 {width: 100%}

.border0 {outline: none;border-collapse: collapse;}
.border1 {border: 1px solid $gray2;}
.border1h:hover {border: 1px solid $blue1;}
.border1f:focus {border: 1px solid $blue1;}
.border2 {border: 2px solid $gray2;}
.border2h:hover {border: 1px solid $red1;}

.radius1 {border-radius: 2px;}
.radius2 {border-radius: 4px;}

.background0 {background: none;}
.background1 {background: $blue1-transparent;}
.background1h:hover {background: $blue1-transparent;}
.background1f:focus {background: $blue1-transparent;}
.background2 {background: $red1-transparent;}
.background2h:hover {background: $red1-transparent;}

.overflow0 {overflow-x: auto;}

.cursor1 {caret-color: $blue1;}